%h3= "Baidu log report on #{@date}"
%br
%h3= "ERRORS: #{@errors.count}"
%hr
- @errors.each do |log|
    %p= "#{log.id}##{log.class_name}##{log.method_name}"
    %p= log.message
    %p= log.context
    %p= log.backtrace
    %hr

%br
%h3= "INFOS: #{@infos.count}"
%hr
- @infos.each do |log|
    %p= "#{log.id}##{log.class_name}##{log.method_name}"
    %p= log.message
    %p= log.context
    %p= log.backtrace
    %hr
